$base-color: #222736;
$primary-color:#2a3042;

// margin-top:10 ~ 75px;
@for $h from 2 through 15 {
  .mt-#{$h * 5} {
    margin-top: $h * 5px !important;
  }
}
// margin-bottom:10 ~ 55px;
@for $h from 2 through 15 {
  .mb-#{$h * 5} {
    margin-bottom: $h * 5px !important;
  }
}
// margin-right:10 ~ 55px;
@for $h from 2 through 11 {
  .mr-#{$h * 5} {
    margin-right: $h * 5px !important;
  }
}
// margin-left:10 ~ 55px;
@for $h from 2 through 11 {
    .ml-#{$h * 5} {
      margin-left: $h * 5px !important;
    }
}

@for $h from 2 through 11 {
  .m-#{$h * 5} {
    margin: $h * 5px !important;
  }
}
// padding-top:10 ~ 75px;
@for $h from 2 through 20 {
  .pt-#{$h * 5} {
    padding-top: $h * 5px !important;
  }
}
// padding-bottom:10 ~ 55px;
@for $h from 2 through 11 {
  .pb-#{$h * 5} {
    padding-bottom: $h * 5px !important;
  }
}

// padding-bottom:10 ~ 55px;
@for $h from 2 through 11 {
  .pb-#{$h * 5} {
    padding-bottom: $h * 5px !important;
  }
}

@for $h from 2 through 11 {
  .pl-#{$h * 5} {
    padding-left: $h * 5px !important;
  }
}

// padding:10 ~ 55px;
@for $h from 2 through 11 {
.p-#{$h * 5} {
  padding: $h * 5px !important;
}
}
// font-size:1~60px;
@for $i from 1 through 60 {
  .fs-#{$i} {
    font-size: $i * 1px !important;
  }
}

@for $i from 1 through 30 {
  .lh-#{$i} {
    line-height: $i * 1px !important;
  }
}
.fix-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: orange;
    .bg-white{
        background: white;
    }
    .cyan{
      color:#0dcaf0 !important;
    }
    .outside {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 20;
        backdrop-filter: blur(10px);
    }
    

    @media (max-width: 768px) {
        @for $h from 2 through 11 {
          .mt-sm-#{$h * 5} {
            margin-top: $h * 5px !important;
          }
      }

      @for $h from 2 through 11 {
        .pt-sm-#{$h * 5} {
          padding-top: $h * 5px !important;
        }
      }
    }

    .search {
        position: relative;
        width: 50%;
        input {
          background-color: #808080;
          width: 100%;
          height: 30px;
          border: none;
          outline: none;
          border-radius: 20px;
          padding-left: 50px;
          padding-right: 25px;
          color: black;
          font-weight: bold;
          display: block;
          font-size: 16px;
          box-sizing: border-box;
        }
        .fa-magnifying-glass{
          position: absolute;
          top: 5px;
          left: 15px;
          font-size: 15px;
          color:white;
        }
    }
}